@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на информационный портал</h1>
    <p>Здесь вы сможете найти всю информацию о маршруте(ах), который(ые) вас так заинтересовал(и)</p>
</div>