@{
    ViewData["Title"] = "Модели автобусов";
}

    <div class="text-center-model-of-bus">
        <h1 class="display-4">Модели автобусов</h1>
        <p>Ниже представлены различные модели автобусов с их фотографиями и описаниями.</p>
        <p>Исследуйте разнообразие моделей и выберите ту, которая вам больше всего нравится.</p>
    </div>

