@model System.Collections.Generic.List<bus_project.Models.TransportCompanyModel.TransportCompany>

<h2 class="display-4">Список транспортных компаний</h2>

<table class="company-table">
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Контактная информация</th>
        <th>Адрес</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var company in Model)
    {
        <tr>
            <td>@company.company_name</td>
            <td>@company.contact_info</td>
            <td>@company.address</td>
        </tr>
    }
    </tbody>
</table>