@model bus_project.Models.TransportCompanyModel.TransportCompany

<!-- Форма для редактирования транспортной компании -->
<form asp-action="EditCompany" method="post">
    <input type="hidden" asp-for="company_name" />
    <div class="form-group">
        <label for="company_name">Название компании:</label>
        <input type="text" id="company_name" name="company_name" class="form-control" value="@Model.company_name" required />
    </div>
    <div class="form-group">
        <label for="contact_info">Контактная информация:</label>
        <input type="text" id="contact_info" name="contact_info" class="form-control" value="@Model.contact_info" required />
    </div>
    <div class="form-group">
        <label for="address">Адрес:</label>
        <input type="text" id="address" name="address" class="form-control" value="@Model.address" required />
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>