html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-center-main-page {
  text-align: center;
  margin-top: 50px;
}

.text-center-model-of-bus {
  text-align: center;
  margin-top: 50px;
}

.text-center-transport-company {
  text-align: center;
  margin-top: 50px;
}
.company-table {
  border-collapse: collapse;
  width: 100%;
}

.company-table th,
.company-table td {
  padding: 10px;
}

.company-table th {
  text-align: left;
  background-color: #f2f2f2;
}

.company-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
