@model System.Collections.Generic.List<bus_project.Models.PointModel.Point>
@{
    ViewData["Title"] = "Список промежуточных остановок";
}
<h2 class="display-4">Список промежуточных остановок</h2>

<table class="company-table">
    <thead>
    <tr>
        <th>Номер промежуточной остановки</th>
        <th>Номер маршрута</th>
        <th>Номер остановки</th>
        <th>Порядок следования</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var point in Model)
    {
        <tr>
            <td>@point.point_id</td>
            <td>@point.route_number</td>
            <td>@point.stop_number</td>
            <td>@point.index_number</td>
        </tr>
    }
    </tbody>
</table>